{
  "presets": [
    "react-native"
  ],
  "env": {
    "production": {
      "plugins": [
        "transform-remove-console"
      ]
    }
  },
  "plugins": [
    // 条件组件
    [
      "jsx-control-statements"
    ]
  ]
}
