{
  "presets": [
    "react-native"
  ],
  "plugins": ["jsx-control-statements"],
  "env": {
    "production": {
      "plugins": ["transform-remove-console", ["import", { "libraryName": "antd-mobile-rn" }]]
    }
  },

}
